@rendermode InteractiveServer
@inject IPeopleData sql;

<h3>Create Person</h3>

<EditForm Model="person" method="post" FormName="createPersonForm"OnValidSubmit="CreatePersonAsync">  
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>First Name:</label>
        <InputText @bind-Value="person.FirstName"/>       
    </div>
    <div class="mb-3">
        <label>Last Name:</label>
        <InputText @bind-Value="person.LastName"/>       
    </div> 
      
    <button type="submit" class="btn btn-outline-primary">Create</button>

</EditForm>

@code {

    private PersonModel person = new();
    
    private async Task CreatePersonAsync()
    {
        
        await sql.InsertPerson(person);
        person = new();        
        @* NavigationManager.NavigateTo("/");       *@

    }  
        
        

}